/* Enlaces.css */

.enlaces {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* Espacio entre los elementos */
}

.h4-enlaces {
  font-size: 17px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  background-color: #3e499c; /* Espacio debajo del título */
  padding: 10px;
  border-radius: 5px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: #3e499c;
  font-size: 14px;
  font-weight: 600;
}

.icon-container:hover {
  color: black;
  font-weight: 700;
}

.icon-container span {
  margin-top: 5px;
}

.image-container-afip,
.image-container-anses,
.image-container-mteyss,
.image-container-bcra,
.image-container-bna,
.image-container-macro-p,
.image-container-macro-e,
.image-container-argentina-finanzas,
.image-container-estudio-tareas,
.image-container-iprofesional,
.image-container-infobae,
.image-container-el-cronista,
.image-container-indec,
.image-container-dolar-hoy,
.image-container-errepar,
.image-container-cripto,
.image-container-mi-argentina {
  width: 70px; /* Ajusta el tamaño según sea necesario */
  height: 70px; /* Ajusta el tamaño según sea necesario */
  background-size: cover;
  transition: background-image 0.3s ease;
  border-radius: 5px;
}

.image-container-afip {
  background-image: url("/logoafip-n.png");
}
.image-container-afip:hover {
  background-image: url("/logoafip-a.png");
}

.image-container-anses {
  background-image: url("/anses-n50x50.png");
}
.image-container-anses:hover {
  background-image: url("/anses-a.png");
}

.image-container-mteyss {
  background-image: url("/min_trabajo_empleo_seguridad_social-n.png");
}
.image-container-mteyss:hover {
  background-image: url("/min_trabajo_empleo_seguridad_social.png");
}

.image-container-bcra {
  background-image: url("/bcra.png");
}
.image-container-bcra:hover {
  background-image: url("/bcra-a.png");
}

.image-container-bna {
  background-image: url("/banconacion-n.png");
}
.image-container-bna:hover {
  background-image: url("/banconacion.png");
}

.image-container-macro-p {
  background-image: url("/macro.png");
}
.image-container-macro-p:hover {
  background-image: url("/macro-.png");
}

.image-container-macro-e {
  background-image: url("/macro-1.png");
}
.image-container-macro-e:hover {
  background-image: url("/macro-2.png");
}

.image-container-argentina-finanzas {
  background-image: url("/min_trabajo_empleo_seguridad_social-n.png");
}
.image-container-argentina-finanzas:hover {
  background-image: url("/min_trabajo_empleo_seguridad_social.png");
}

.image-container-estudio-tareas {
  background-image: url("/agenda.png");
}
.image-container-estudio-tareas:hover {
  background-image: url("/agenda-a.png");
}

.image-container-errepar {
  background-image: url("/errepar.png");
}
.image-container-errepar:hover {
  background-image: url("/errepar-a.png");
}
.image-container-iprofesional {
  background-image: url("/iprofesional.png");
}
.image-container-iprofesional:hover {
  background-image: url("/iprofesional-a.png");
}
.image-container-infobae {
  background-image: url("/infobae.png");
}
.image-container-infobae:hover {
  background-image: url("/infobae-a.png");
}
.image-container-el-cronista {
  background-image: url("/el-cronista.png");
}
.image-container-el-cronista:hover {
  background-image: url("/el-cronista-a.png");
}
.image-container-indec {
  background-image: url("/indec.png");
}
.image-container-indec:hover {
  background-image: url("/indec-a.png");
}
.image-container-dolar-hoy {
  background-image: url("/dolar-hoy.png");
}
.image-container-dolar-hoy:hover {
  background-image: url("/dolar-hoy-a.png");
}
.image-container-cripto {
  background-image: url("/cripto.png");
}
.image-container-cripto:hover {
  background-image: url("/cripto-a.png");
}

.image-container-mi-argentina {
  background-image: url("/mi-argentina.png");
}
.image-container-mi-argentina:hover {
  background-image: url("/mi-argentina-a.png");
}
/* PáginaPrincipal.css */
.enlaces-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  position: relative; /* Necesario para el pseudo-elemento ::after */
  background-color: #abb2e7; /* Color de fondo del borde */
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(79, 114, 143, 0.7); /* Sombra */
  overflow: hidden; /* Asegura que el contenido no sobresalga de los bordes redondeados */
}

.container-fluid {
  padding-left: 40px; /* Espacio a la izquierda de la página */
  padding-top: 20px;
}
