.titulo-interes {
  background-color: #3e499c;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 1px;
}
.interes-compuesto-contenido {
  text-align: center;
}
.label-interes {
  margin: 5px;
}

.input-interes {
  margin: 5px;
  width: 40%;
  border-radius: 5px;
}
.input-interes-1 {
  margin: 5px;
  width: 20%;
  border-radius: 5px;
}
.input-interes-2 {
  margin: 5px;
  width: 25%;
  border-radius: 5px;
}

.select-interes {
  margin: 5px;
}

.span-interes {
  text-align: center;
  color: #3e499c;
  font-weight: 600;
}
.span-interes-1 {
  color: white;
  background-color: #3e499c;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  margin: 5px;
  padding: 10px, 0px, 0px, 10px;
  font-size: 1rem;
}

.tr-hover:hover {
  background-color: rgba(100, 149, 237, 0.5);
}

.tr-multiplo-de-12 {
  background-color: #3e499c;
  color: white;
}
.tr-multiplo-de-12:hover {
  color: black;
}

.contenedor-tabla {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla-interes-titulo {
  font-size: 26px;
  color: #3e499c;
  text-align: center;
}
.tabla-interes-titulo-columna {
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
}
.tabla-interes-filas {
  font-size: 16px;
}
.contenedor-tabla {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-egreso,
.input-ingreso {
  width: 100px; /* O el ancho fijo que mejor se adapte a tu diseño */
  border-radius: 5px;
  text-align: center;
  margin: auto; /* Centrar si es necesario */
  display: block; /* Asegura que el input ocupe el ancho completo de la celda */
}

.tabla-interes-titulo-columna-1 {
  text-align: center;
  white-space: nowrap;
  font-size: 16px;
  text-align: center;
}

.tabla-interes-titulo-columna-1.egreso-ingreso-columna {
  width: 100px; /* Debe ser el mismo ancho que los inputs para coincidir */
}
.tabla-interes-filas-1 {
  font-size: 16px;
  text-align: center;
  padding: 2px;
}
