.label-interes {
  margin: 5px;
}

.input-interes {
  margin: 5px;
  width: 40%;
  border-radius: 5px;
}
.input-interes-1 {
  margin: 5px;
  width: 20%;
  border-radius: 5px;
}
.input-interes-2 {
  margin: 5px;
  width: 25%;
  border-radius: 5px;
}

.select-interes {
  margin: 5px;
}

.span-interes {
  text-align: center;
  color: #3e499c;
  font-weight: 600;
}
.span-interes-1 {
  color: white;
  background-color: #3e499c;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  margin: 5px;
  padding: 10px, 0px, 0px, 10px;
  font-size: 1rem;
}

.tr-hover:hover {
  background-color: rgba(100, 149, 237, 0.5);
}

.tr-multiplo-de-12 {
  background-color: #3e499c;
  color: white;
}
.tr-multiplo-de-12:hover {
  color: black;
}

.contenedor-tabla {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabla-interes-titulo-columna {
  text-align: center;
  white-space: nowrap;
}
