.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  padding-top: 110px;
}

.navbar-brand {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.boton-navbar {
  background-color: #3e499c;
  color: white;
  font-weight: 600;
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 7px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #3e499c; /* Borde azul */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.boton-navbar:hover {
  color: black;
  background-color: rgb(219, 210, 210);
  text-decoration: none;
  border: 2px solid rgb(196, 194, 194);
}

.whatsapp-icon {
  width: 30px;
}

.telefono {
  color: #3e499c;
  font-weight: 600;
}

.fecha-actual {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 1rem;
  color: #3e499c;
  font-weight: 600;
}

.logo-estudio {
  cursor: pointer;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.fecha-actual-container {
  width: 100%;
  display: flex;
  justify-content: center;
  order: 2;
}
