.navbar {
  position: fixed; /* Hace que el NavBar se mantenga fijo en la parte superior de la pantalla */
  top: 0; /* Alinea el NavBar en la parte superior de la página */
  width: 100%; /* Asegura que el NavBar se extienda a lo largo de toda la anchura de la página */
  z-index: 1000; /* Asegura que el NavBar se mantenga sobre otros contenidos de la página */
  background-color: #fff; /* Fondo blanco para el NavBar, cámbialo según el diseño de tu página */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Añade una sombra para darle un efecto elevado sobre el contenido de la página */
}

/* Asegúrate de añadir un relleno superior a tu contenido principal para que no quede oculto detrás del NavBar */
body {
  padding-top: 70px; /* Ajusta este valor según la altura de tu NavBar */
}

.navbar-brand {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.boton-navbar {
  background-color: #3e499c;
  color: white;
  font-weight: 600;
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #3e499c; /* Borde Negro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra gris */
  text-decoration: none;
}
.boton-navbar:hover {
  color: black; /* Color del texto al pasar el cursor */
  background-color: rgb(219, 210, 210); /* Color de fondo al pasar el cursor */
  text-decoration: none;
  border: 2px solid rgb(196, 194, 194); /* Borde Negro */
}

.whatsapp-icon {
  width: 30px; /* o el tamaño que prefieras para tu icono */
}

.telefono {
  color: #3e499c;
  font-weight: 600;
}

.fecha-actual {
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  color: #3e499c;
  font-weight: 600;
}

.logo-estudio {
  cursor: pointer;
}
